.products {
    float: left;
}

.frontPage {
    height: calc(100vh - 90px);
    margin: 16px;
    margin-left: 32px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: lightgray;
    text-align: center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.loadingImageCenter {
    height: calc(100vh - 90px);
    margin: 16px;
    margin-left: 32px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 40px;
    width: 40px;
}