<p>cart works!</p>

<div *ngIf="cartItems != null && cartItems.length > 0">
    <div *ngFor="let element of cartItems">
        
        <app-cart-items [cartItem]="element"></app-cart-items>
    </div>
</div>

<div class="totalPrice">
    Total: {{totalPriceForCheckout}}
</div>
<div class="actions">
    <button (click) = "checkout()" [disabled]="!(cartItemsForCheckOut && cartItemsForCheckOut.length && cartItemsForCheckOut.length > 0)">checkout</button>
    <button (click) = "closeOverlay()">X</button>
</div>
