<p>cart-items works!</p>
<mat-card class="cartCard">
    <mat-card-header>
        <input type="checkbox" id={{checkboxId}}  ng-model="checked" (click)="insertOrRemoveFromBuyList($event)"/>
        <mat-card-title>{{cartItem.product.name}}</mat-card-title>
        <mat-card-subtitle>{{cartItem.product.productCategories.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          {{cartItem.product.description}}
        </p>
        <p>
          Price: {{cartItem.product.price}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div>
            Adjust Quantity:
        </div>
        <input matInput type="number" min="1" [(ngModel)]="cartItem.noOfUnits" [formControl]="numberOfItemsValidator">
        <mat-error *ngIf="numberOfItemsValidator.hasError('min') || numberOfItemsValidator.hasError('required')">
            Please add valid no of items
        </mat-error>
        <br>
        <mat-error *ngIf="cartItem.invalidNoOfItems">
            so much stock for this item is not available
        </mat-error>
        <div *ngIf="!numberOfItemsValidator.hasError('min') && !numberOfItemsValidator.hasError('required')">
            Subtotal = {{cartItem.noOfUnits*cartItem.product.price}}
        </div>
        <button (click)="deleteCartItem($event)" id={{cartItem.id}}>Remove Item from cart</button>
      </mat-card-actions>
</mat-card>